In [50]:
# import necessary libraries
import pandas as pd
from glob import glob

In [51]:
files = sorted(glob('*.csv'))
files

['1.csv', '2.csv', 'combined.csv']

In [52]:
df = pd.concat((pd.read_csv(file).assign(filename = file) for file in files), ignore_index = True)

In [53]:
df.drop(columns=['Unnamed: 0','filename'],inplace=True)
df.drop_duplicates(inplace=True, ignore_index=True)

In [54]:
df

                              0
0         mailbox@engtek.com.sg
1           enquiry@erci.edu.sg
2           sales@tatina.com.sg
3           mail@escoglobal.com
4             sales@esun.com.sg
...                         ...
2061        leasing@boustead.sg
2062     mak_asia_turbo@cat.com
2063     mak_asia_parts@cat.com
2064  dawoodspices786@gmail.com
2065          info_sg@minox.biz

[2066 rows x 1 columns]

In [55]:
df.to_csv('combined.csv')